/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require raty-js/lib/jquery.raty.css
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

$positive: rgb(115, 148, 136);
$negative: rgb(118, 0, 10);
$neutral: rgb(196, 179, 157);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  color: rgb(128, 108, 104);
  text-decoration: none;
}

a:hover{
  color: rgb(198, 178, 174);
}

body{
  height: 100%;
}

body.open {
  transform: translateX(-250px);
}

.content{
  min-height: calc(100vh - 300px);
  width: 100%;
}

/* --- HEADER --- */ 

header{
  background-color: rgba(197, 201, 196, 0.3);
  height: 100px;
  display: flex;
  padding: 40px 10px;
  .left{
    flex-grow: 1;
    .logo{
      line-height: 50px;
      margin-left: 5%;
      a{
        text-decoration: none;
        color: black;
      }
      a:hover{
        color: #BB0009;
      }
    }
  }
  .center{
    flex-grow: 1;
    .theme{
      text-align: right;
      font-size: 23px;
      line-height: 50px;
      margin-right: 5%;
    }
  }
}



/* --- COMMON BOX AND STYLE --- */

.container{
  min-height: 75vh;
  margin: 5%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.half-container{
  min-height: 55vh;
  margin: 5%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.short{
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: 0;
}

.hr-container{
  min-height: 75vh;
  margin: 5%;
  display: column;
  justify-content: space-between;
}

.hr-mini{
  margin: 5%;
  display: column;
  justify-content: space-between;
}

.content-box{
  border: 2px solid rgba(197, 201, 196, 0.3);
  padding: 25px;
  margin-bottom: 15px;
}

.headline{
  padding: 15px;
}

.table-h{
  text-align: left;
  padding: 5px 15px;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.label{
  border-radius: 2px;
  color: white;
  padding: 2px;
  background-color: rgb(78, 66, 81);
}
.arg{
  background-color: rgb(128, 108, 104);
}
.positive{
  background-color: $positive;
}

.negative{
  background-color: $negative;
}

.neutral{
  background-color: $neutral;
}

.tag{
  background-color: rgb(128, 108, 104);
}

.user_info{
  padding: 30px 0;
  width: 100%;
}
/* --- HAMBURGER ICON --- */

#hm-icon{
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 10;
  flex-grow: 1;
}

.menubar{
  margin: 30px;
  text-align: center;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 30px;
  height: 30px;
}

.menu-trigger.active {
  transform: translateX(250px);
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 13px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(13px) rotate(-45deg);
  transform: translateY(13px) rotate(-45deg);
  background-color: #fff;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-13px) rotate(45deg);
  transform: translateY(-13px) rotate(45deg);
  background-color: #fff;
}

/* ------ MENU ------ */

#menu {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(134, 110, 117, 0.8);
  padding-top: 30px;
  color: #fff;
  width: 250px;
  min-height: 100%;
  transform: translate(250px);
  display: none;
  z-index: 9;
  ul{
    list-style: none;
  }
  li{
    text-align: center;
    margin-bottom: 30px;
  }
  p{
    text-align: center;
  }
  a{
    color: #4D4150;
    text-decoration: none;
    font-weight: bold;
  }
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}

.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* --- FOOTER --- */

footer{
  height: 300px;
  background-color: rgb(134, 110, 117);
  display: flex;
  padding: 5% 10%;
  a{
    color: #C5C8C4;
  }
  a:hover{
    color: rgb(78, 66, 81);
  }
}

.box{
  flex: 1;
  ul{
    padding-left: 40px;
    list-style: none;
    li{
      padding: 1px 10px;
    }
  }
}

/* --- FORM ---  */
select{
  font-size: 15px;
  margin-right: 15px;
}

input{
  font-size: 15px;
  vertical-align: middle;
  margin: 15px;
}

.long-form{
  width: 60%;
}

textarea{
  font-size: 15px;
  vertical-align: middle;
  margin: 15px;
  width: 300px;
}

.argument-title{
  border-bottom: 1px dashed;
  font-size: 13px;
}

/* --- btn --- */
.btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: rgb(78, 66, 81);
  margin: 15px;
}

.btn:hover {
  background: rgb(88, 77, 91);
}

.trust-btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: rgb(78, 66, 81);
  margin: 5px 10px;
}

.trust-btn:hover{
  background: rgb(88, 76, 91);
}

/* --- FLASH --- */
.alert{
  background: rgba(232, 56, 37, 0.8);
  border: rgb(232, 56, 37);
  height: 50px;
  line-height: 50px;
}

.notice{
  background: rgba(115, 148, 136, 0.5);
  border: rgb(115, 148, 136);
  height: 50px;
  line-height: 50px;
}

.login-notice{
  background: rgba(197, 201, 196, 0.8);
  border: rgb(197, 201, 196);
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.msg{
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

@media screen and (max-width:425px) {

  header {
    width: 100%;
    .theme{
      display: none;
    }
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .hr-container{
    min-height: auto;
  }

  .half-container{
    display: flex;
    flex-direction: column;
  }

  .content-box{
    width: 100%;
  }

  .short {
    height: auto;
  }

  body {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .pagination { 
    margin-bottom: 50px;
  }

  footer{
    flex-direction: column;
    height: auto;
  }

  .box{
    width: 100%;
    margin: 20px;
  }

  .alert{
    display: flex;
  }

  .notice{
    display: flex;
  }
  .msg{
    font-size: 10px;
  }
}