// Place all the styles related to the Arguments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arg-form{
  width: 60%;
  margin: 20px auto;
}

.arg-table{
  margin: 0 auto;
}