// Place all the styles related to the Checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.limited-wrap{
  display: flex;
}

.check-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 80%;
}

.checked{
  align-self: flex-start;
}

.checked-argument-headline{
  width: 100%;
  text-align: center;
}

.check-wrap{
  flex: 1;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgba(78, 66, 81, 0.5);
}

.check-btn-wrap{
  padding: 20px 0;
}

.check-list{
  margin: 8px 0;
}

@media screen and (max-width:425px) {
  .check-container{
    width: 100%;
    padding: 20px;
    .mini{
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .limited-wrap{
    flex-direction: column;
  }
}