// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.com-headline{
  margin: 20px;
  text-align: center;
}

.edit-container{
  width: 80%;;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;
}
