// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-container{
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-detail{
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.event-headline{
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

.all-comment{
  width: 100%;
  text-align: center;
  overflow: auto;
  max-height: 300px;
}

.event-comment{
  background-color: rgba(197, 201, 196, 0.3);
  width: 100%;
  text-align: center;
}

@media screen and (max-width:425px) {
  .field textarea{
    width: auto;
  }

  .event-container{
    width: 100%;
    padding: 20px;
  }

  .event-comment h1{
    font-size: 20px;
  }
  .event-comment h3{
    font-size: 10px;
  }
}
