// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-container{
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-detail{
  width: 90%;
  padding: 20px;
  text-align: center;
}

.event-headline{
  margin: 20px;
  text-align: center;
}

.all-comment{
  width: 100%;
  text-align: center;
  overflow: auto;
  max-height: 300px;
}