// Place all the styles related to the Expressions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive{
  width: 30%;
  overflow: auto;
}

.negative{
  width: 30%;
  overflow: auto;
}

.neutral{
  width: 30%;
  overflow: auto;
}

.window{
  margin: 15px auto;
  width: 60%;
  text-align: center;
  background-color: rgba(197, 201, 196, 0.3);
}
