// Place all the styles related to the Expressions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$positive: rgb(115, 148, 136);
$negative: rgb(118, 0, 10);
$neutral: rgb(196, 179, 157);

.exp-container{
  display: column;
  width: 65%;
  justify-content: center;
  text-align: center;
}

.exp-sidebar{
  width: 30%;
  padding-right: 30px;
  margin-bottom: 30px;
}

.expression-detail{
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

.expression-box{
  width: 30%;
  overflow: auto;
  padding: 30px 15px;
  margin-bottom: 50px;
}

.expression-headline{
  line-height: 25px;
  margin: 10px 0;
}

.positive-box{
  border: solid 5px $positive;
}

.negative-box{
  border: solid 5px $negative;
}

.neutral-box{
  border: solid 5px $neutral;
}

.window{
  margin: 15px auto;
  width: 60%;
  text-align: center;
  background-color: rgba(197, 201, 196, 0.3);
}

.argument-head{
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  a{
    color: #000;
  }
}

.review-form{
  background-color: rgba(197, 201, 196, 0.3);
  margin: 30px;
  padding: 10px;
}

#star{
  margin-top: 10px;
}

.position-box{
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width:425px) {
  .positive-box{
    width: 100%;
  }
  .negative-box{
    width: 100%;
  }
  .neutral-box{
    width: 100%;
  }
  .window{
    width: 100%;
    padding: 15px 0;
  }
}