// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column{
  width: 65%;
  height: auto;
  display: column;
}

.row{
  width: 100%;
  height: 200px;
  display: flex;
}

.content-box{
  border: 2px solid rgba(197, 201, 196, 0.3);
  padding: 25px;
  margin-bottom: 15px;
}

.content-smallbox{
  width: 50%;
  padding: 15px;
}

.argument{
  height: 300px;
  width: 90%;
  margin: 15px auto 45px;
}

.expression{
  width: 30%;
  height: auto;
}

.user{
  height: 300px;
  margin: 20px 0;
}