// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- TOP PAGE --- */

.top-container{
  min-height: 40vh;
  margin: 5%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.eyecatch{
  background-image: image-url("eyecatch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  overflow: hidden;	
}

.layer{
  width: 100%;
  height: 350px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layer:hover{
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.content-smallbox{
  width: 50%;
  padding: 15px;
}

.expression{
  min-height: 300px;
  width: 90%;
  margin: 15px auto 45px;
  overflow: hidden;
  flex: auto;
}

.expression:hover{
  background-color: rgba(240, 240, 240, 0.9);
}

.argument{
  width: 30%;
  min-height: 700px;
  overflow: hidden;
  a{
    color: #000;
  }
  a:hover{
    color: #000;
  }
}

.argument:hover{
  background-color: rgba(240, 240, 240, 0.9);
}

.rank_argument a{
    font-size: 15px;
    display: block;
    font-weight: bold;
    color: #7F6C68;
}

.rank_argument a:hover{
  color: rgb(194, 187, 190);
}

.content-wrap{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user{
  text-align: center;
  width: 40%;
  overflow: hidden;
  a{
    color: #000;
  }
  a:hover{
    color: #000;
  }
}

.user:hover{
  background-color: rgba(240, 240, 240, 0.9);
}

.random-exp{
  text-align: center;
  width: 50%;
  a{
    color: #000;
  }
  a:hover{
    color: #000;
  }
}

.random-exp:hover{
  background-color: rgba(240, 240, 240, 0.9);
}

.column{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a{
    color: #000;
  }
  a:hover{
    color: #000;
  }
}

.row{
  width: 100%;
  height: 200px;
  display: flex;
}

.sidebar{
  width: 30%;
  float: left;
}

.ranking{
  margin: 10px 0 10px;
}

.rank-title{
  margin-bottom: 10px;
}

.rank-box{
  margin-bottom: 10px;
}

.rank{
  font-weight: bold;
  margin-right: 5px;
}

.news-wrap{
  margin: 5%;
}

.news-content{
  margin: 20px;
  margin-bottom: 0;
  height: 250px;
  overflow: scroll;
  .newsbody{
    font-size: 15px;
    line-height: 22px;
  }
}

.news-headline{
  margin: 20px;
  margin-top: 0;
  text-align: center;
}

/* --- ABOUT --- */
.about{
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  img{
    margin: 10px;
  }
}

.question{
  color: #7F6C68;
  padding: 10px;
}

.answer{
  border-top: dashed 2px rgba(197, 201, 196, 0.3);
}

/* -- HOW TO -- */
.howto{
  width: 60%;
  margin: 20px auto 50px;
  a {
    color: #AACBC1;
  }
}

/* -- WORD -- */
.word-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word{
  width: 300px;
  height: 250px;
  margin: 50px 25px;
}

@media screen and (max-width:425px) {
  .top-container{
    flex-direction: column;
  }
  .eyecatch{
    height: 100px;
  }
  .layer{
    height: 100px;
    h1{
      font-size: 20px;
    }
    p{
      font-size: 12px;
    }
  }
  .content-box{
    width: 100%;
    height: auto;
  }
  .content-wrap{
    flex-direction: column;
  }
  .column{
    width: 100%;
  }
  .argument{
    min-height: auto;
  }
  .content-box{
    height: auto;
  }
  .row{
    flex-direction: column;
    height: auto;
  }
  .content-smallbox{
    width: 100%;
  }
  .about{
    img{
      width: 100%;
    }
  }
  .howto{
    width: 100%;
    font-size: 10px;
  }
}