// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.msg-wrap{
  display: flex;
}

.msg-wrap-right{
  display: flex;
  justify-content: flex-end;
}

.msg-avatar{
  margin: 10px 20px;
  display: inline-block;
}

@media screen and (max-width:425px) {
  .msg-wrap{
    width: 100%;
  }
}