// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini{
  height: 200px;
  width: 250px;
  margin: 15px;
  overflow: auto;
  position: relative;
}

.edit-btn {
  position: absolute;
  display: flow;
  top: 0;
  right: 0;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #C3B39C;
  margin-left: 15px;
}

.edit-btn:hover {
  background: #D3B39C;
}

.component-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.component-form{
  min-height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  background-color: rgba(197, 201, 196, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big{
  height: 200px;
  width: 400px;
}

.expressions{
  width: 60%;
}

.exp-wrap{
  height: 90vh;
}