// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini{
  height: 200px;
  width: 250px;
  margin: 15px;
  overflow: auto;
  position: relative;
}

.edit-btn {
  position: absolute;
  display: flow;
  top: 0;
  right: 0;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #C3B39C;
  margin-left: 15px;
}

.edit-btn:hover {
  background: #D3B39C;
}

.component-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.component-form{
  width: 100%;
  text-align: center;
  background-color: rgba(197, 201, 196, 0.3);
  padding: 20px;
  margin: 20px auto;
}

.big{
  height: 200px;
  width: 400px;
}

.expressions{
  width: 60%;
}

.exp-wrap{
  max-height: 70vh;
  overflow: auto;
}

.min-container{
  max-height: 90vh;
  margin: 5%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.user-wrap{
  width: 300px;
  height: 200px;
  overflow: auto;
  margin: 15px;
}

.trust-user{
  a{
    color: #000;
  }
  a:hover{
    color: gray;
  }
}

.user-wrap:hover{
  background-color: rgba(240, 240, 240, 0.9);
}

.trust-user{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  min-height: 60vh;
}

.quit-box{
  margin: 50px;
}

@media screen and (max-width:425px) {
  .min-container{
    flex-direction: column;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
    max-height: 800px;
  }

  #sign{
    min-height: auto;
    width: 90%;
    margin: 10px auto;
  }

  #signup{
    width: 90%;
    margin: 20px auto;
  }

  .exp-wrap{
    max-height: 200px;
  }

  .user-id-info{
    margin: 10px 0;
    padding: 5px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    h3{
      display: none;
    }
  }

  .sidebar{
    text-align: center;
    width: 100%;
  }

  .expressions{
    width: 100%;
    margin-top: 20px;
  }
  .big{
    width: 100%;
    margin: 0 auto;
  }
  .exp-sidebar{
    width: 100%;
    text-align: center;
    padding: 10px;
    order: 2;
  }

  .review-form{
    h3{
      font-size: 12px;
    }
  }
  .user-search{
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }
  .trust-user{
    width: 80%;
    margin: 0 auto;
  }
  .user-wrap{
    width: 80%;
    margin: 0 auto;
  }
}
