$("#star-form").html("<%= j(render("reviews/review", { review: @review, expression: @review.expression })) %>");

$('#star').raty({
    starType: 'img',
    size: 36,
    cancelOff: '/cancel-off.png',
    cancelOn: '/cancel-on.png',
    starHalf: '/star-half.png',
    starOff: '/star-off.png',
    starOn: '/star-on.png',
    scoreName: 'rate'});

<% flash.each do |type, message| %>
  $("#flash-review").html('<div class="<%= type %>"><div class="msg"><%= message %></div></div>');
<% end %>
