<p>こんにちは <%= @resource.optional_id %>さん!</p>

<p>どなたかが、パスワードの変更手続きを行いました。間違いなければこちらからどうぞ。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心当たりのない場合は、削除していただいて構いません。</p>
<p>上記のURLで変更手続きを行うまでは変更されていません。</p>
